.mat-sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.mat-sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.mat-toolbar {
  justify-content: center;
}

.mat-toolbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font: 300 17px/32px "Comic Sans MS", "Comic Sans", cursive;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .mat-sidenav-container {
    height: auto;
    z-index: 1;
  }
  .mat-toolbar a {
    display: none;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
}